Options +FollowSymLinks
RewriteEngine On
 
#RewriteCond %{SCRIPT_FILENAME} !-d
#RewriteCond %{SCRIPT_FILENAME} !-f

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

#RewriteRule ^([^/]+)(/)?$ $1.php
RewriteRule ^(.*) /$1.php [L,NC,QSA]
